/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.idea/*
/.idea/phpunit.xml
/.idea/php.xml
/.idea/netiquitte.iml
/.idea/misc.xml
/.idea/deployment.xml
/.idea/code-comments.xml
.vscode/settings.json
storage/migrations.code-workspace
old.dev.netiquetteads.com.zip
dev.netiquetteads.com.zip
database/seeders-3-15.rar

